@font-face {
  font-family: 'typicons';
  src: font('typicons.eot');
  src: font('typicons.eot?#iefix') format('embedded-opentype'),
       font('typicons.woff') format('woff'),
       font('typicons.ttf') format('truetype'),
       font('typicons.svg#typicons') format('svg');
  font-weight: normal;
  font-style: normal;
}